<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SFU Fitness App</title>
  <%= stylesheet_link_tag "style.css" %>
  <%= stylesheet_link_tag "navbar.css" %>

</head>
<body>
  <div class="navbar">
    <div class="navbar-group">
      <div class="logo">
        <%= image_tag "SFU_logo.png", class: "logo" %>
        <p class="logo">Fitness App</p>
      </div>
    </div>
    <div class="navbar-group">
      <%= link_to 'Home', home_path, class: "nav" %>
      <%= link_to 'About', about_path, class: "nav" %>
      <div class="dropdown">
        <button class="dropbtn">Explore</button>
        <div class="dropdown-content">
          <% if logged_in? %>
            <%= link_to 'Exercises', exercise_path %>
          <% else %>
            <%= link_to 'Exercises', exercises_path %>
          <% end %>
          <%= link_to 'Equipment', equipment_path %>
          <%= link_to 'Schedule', schedule_path %>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar-spacing"></div>
  <header>
  <h1>Profile</h1><br>

  <div class="goals"> 
    <%= form_with(model: @goal, url: goals_path) do |form| %>
      <%= form.label :title %>
      <%= form.text_field :title %>

      <%= form.label :due_date %>
      <%= form.date_field :due_date %>

      <%= form.submit "Create Goal" %>
    <% end %> <br>
  </div>
  <div class="goals">
    <% if current_user.goals.any? %>
      <h2>My Goals:</h2>
      <ul>
        <% current_user.goals.each do |goal| %>
          <li>
            <strong><%= goal.title %></strong> - <%= goal.due_date.strftime('%B %e, %Y') %>
            <%= link_to 'Delete', goal_path(goal), method: :delete, data: { confirm: 'Are you sure?' } %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No goals created yet.</p>
    <% end %>
    </div>
  <%= link_to "Logout", logout_path, method: :delete, class: "buttonnav" %>
</body>
</html>