<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SFU Fitness App</title>
  <%= stylesheet_link_tag "style.css" %>
  <%= stylesheet_link_tag "navbar.css" %>

</head>
<body>
 <div class="navbar">
    <div class="navbar-group">
      <div class="logo">
        <%= image_tag "SFU_logo.png", class: "logo" %>
        <p class="logo">Fitness App</p>
      </div>
    </div>
    <div class="navbar-group">
      <%= link_to 'Home', home_path, class: "nav" %>
      <%= link_to 'About', about_path, class: "nav" %>
      <div class="dropdown">
        <button class="dropbtn">Explore</button>
        <div class="dropdown-content">
          <% if logged_in? %>
            <%= link_to 'Exercises', exercise_path %>
          <% else %>
            <%= link_to 'Exercises', exercises_path %>
          <% end %>
          <%= link_to 'Equipment', equipment_path %>
          <%= link_to 'Schedule', schedule_path %>
        </div>
      </div>
      <%= link_to 'Contact Us', contact_path, class: "nav" %>
    </div>
  </div>
  <div class="navbar-spacing"></div>
  <% flash.each do |type, msg| %>
    <div class="alert alert-info">
      <%= msg %>
    </div>
  <% end %>  
  <div class="loginblock">
    <%= image_tag "sfu-rec.png", class: "login_logo" %>
    <h2 class="login">Log In</h2>
    <%= form_tag '/login' do %>
        <%= label_tag :username, 'Username:', class: "pform" %> <%= text_field_tag :username %><br><br>
        <%= label_tag :password, 'Password:', class: "pform" %> <%= password_field_tag :password %><br><br>
        <%= submit_tag "Log In" %>
    <% end %>
    <br>
    <%= link_to 'Not signed up? Register now!', register_path %>
</body>