<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About</title>
  <%= stylesheet_link_tag "style.css" %>
  <%= stylesheet_link_tag "navbar.css" %>
  <style>
    .grid-container {
      display: grid;
      column-gap: 10px;
      row-gap: 10px;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      padding: 10px;
    }
    .grid-item {
      background-color: rgba(255, 255, 255, 0.8);
      border: 2px solid rgba(0, 0, 0, 0.8);
      padding: 10px;
      font-size: 20px;
      text-align: center;
      color: black;
      cursor: pointer;
    }
    .item-content {
      height: 0;
      overflow: hidden;
      transition: height 0.3s;
    }
    .expanded {
      height: auto;
    }
    p {
    color: #0b0b0b;
    font-size: 1.5vw;
    text-align: left;
    }
    #muscleInput{
      width: 20em;
      margin-bottom: 20px;
      border-radius: 20px;
      border: 1px solid white;
      height: 1.5em;
      text-align: center;
    }
  
    </style>
</head>
<body>
  <div class="navbar">
    <div class="navbar-group">
      <div class="logo">
        <%= image_tag "SFU_logo.png", class: "logo" %>
        <p class="logo">Fitness App</p>
      </div>
    </div>
    <div class="navbar-group">
      <%= link_to 'Home', home_path, class: "nav" %>
      <%= link_to 'About', about_path, class: "nav" %>
      <div class="dropdown">
        <button class="dropbtn">Explore</button>
        <div class="dropdown-content">
          <% if logged_in? %>
            <%= link_to 'Exercises', exercise_path %>
          <% else %>
            <%= link_to 'Exercises', exercises_path %>
          <% end %>
          <%= link_to 'Equipment', equipment_path %>
          <%= link_to 'Schedule', schedule_path %>
        </div>
      </div>
      <%= link_to 'Contact Us', contact_path, class: "nav" %>
      <% if logged_in? %>
        <%= link_to "Account", account_path, class: "buttonnav" %>
      <% else %>
        <%= link_to "Login", login_path, class: "buttonnav" %>
      <% end %>
    </div>
  </div>
  <div class="navbar-spacing"></div>
<section class="about">

  <h1 class="exercises">Exercises</h1>
  <div class="search-bar">
    <input type="text" placeholder="Search Muscles.." id="muscleInput" onkeyup="filterMuscles()">
  </div>

  <div class="grid-container">
    <% @exercises.each do |exercise| %>
      <div class="grid-item">
        <h2><%= exercise.name %></h2>
        <p class='box'><strong>Category:</strong> <%= exercise.category %></p>
        <p class='box box-targets'><strong>Targets:</strong> <%= exercise.targets %></p>
        <p class='box'><strong>Equipment Needed:</strong> <%= exercise.equipment_needed %></p>
        <div class="item-content">
          <p class='box'><strong>Set Up:<br></strong> <%= strip_tags(exercise.set_up).gsub(/(\r)?\n/, "<br/>").html_safe %></p>
          <p class='box'><strong>Description:<br></strong> <%= strip_tags(exercise.description).gsub(/(\r)?\n/, "<br/>").html_safe %></p>
          <p class='box'><strong>Key Points:<br></strong> <%= strip_tags(exercise.key_points).gsub(/(\r)?\n/, "<br/>").html_safe %></p>
        </div>
      </div>
    <% end %>
  </div>
</section>
</footer>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const gridItems = document.querySelectorAll(".grid-item");
    gridItems.forEach(function (gridItem) {
      gridItem.addEventListener("click", function () {
        const itemContent = gridItem.querySelector(".item-content");
        itemContent.classList.toggle("expanded");
      });
    });
  });

function filterMuscles() {
  const gridItems = document.querySelectorAll(".grid-item");
  const input = document.getElementById("muscleInput").value.toUpperCase();

  gridItems.forEach(function (gridItem) {
    const targetsElement = gridItem.querySelector('.box-targets');
    const targetsText = targetsElement ? targetsElement.textContent.toUpperCase() : '';
    const isVisible = targetsText.includes(input);

    gridItem.style.display = isVisible ? "grid" : "none";
  });
}

</script>
</body>
</html>