<body>
 <div class="navbar">
    <div class="navbar-group">
      <div class="logo">
        <%= image_tag "SFU_logo.png", class: "logo" %>
        <p class="logo">Fitness App</p>
      </div>
    </div>
    <div class="navbar-group">
      <%= link_to 'Home', home_path, class: "nav" %>
      <%= link_to 'About', about_path, class: "nav" %>
      <div class="dropdown">
        <button class="dropbtn">Explore</button>
        <div class="dropdown-content">
          <%= link_to 'Exercises', exercises_path %>
          <%= link_to 'Equipment', equipment_path %>
          <%= link_to 'Schedule', schedule_path %>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar-spacing"></div>
  <div class="loginblock">
    <%= image_tag "sfu-rec.png", class: "login_logo" %>
    <h2 class="login">WORKING Register</h2>
    <%= form_for @user do |f| %>
        <%= f.label :username %>
        <%= f.text_field :username %><br>
        <br>
        <%= f.label :password %>
        <%= f.password_field :password %><br>
        <%= f.submit "Register" %>
    <% end %>
    <br>
    <%= link_to 'Already have an account? Log in here!', login_path %>
</body>
