<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About</title>
  <%= stylesheet_link_tag "style.css" %>
  <%= stylesheet_link_tag "navbar.css" %>
</head>
<body>
    <div class="navbar">
    <div class="navbar-group">
      <div class="logo">
        <%= image_tag "SFU_logo.png", class: "logo" %>
        <p class="logo">Fitness App</p>
      </div>
    </div>
    <div class="navbar-group">
      <%= link_to 'Home', home_path, class: "nav" %>
      <%= link_to 'About', about_path, class: "nav" %>
      <div class="dropdown">
        <button class="dropbtn">Explore</button>
        <div class="dropdown-content">
          <%= link_to 'Exercises', exercises_path %>
          <%= link_to 'Equipment', equipment_path %>
          <%= link_to 'Schedule', schedule_path %>
        </div>
      </div>
      <%= link_to 'Login', login_path, class: "buttonnav" %>
    </div>
  </div>
  <div class="navbar-spacing"></div>
<section class="equipment">
  <h1 class="equipment">Equipment (Hover to See More)</h1>
    <ul class="equipment">
        <li class="equipment">Multi-Level 12,000 Square Feet Facility
              <section class="hoverlist">
                  <p>The SFU Fitness Centre is located on the bottom floor of the 
                    Lorne Davies Complex (LDC) Building (Room 088). The LDC Building 
                    can be found near the West Mall Complex and just before Residence 
                    & Housing. There are access points from all levels. Directional 
                    signage to the Fitness Centre is posted throughout the complex.
                  </p>
                  <%= image_tag "gym.jpg"%>                            
              </section>
        </li>
        <li class="equipment">6 Rowing Machines</a>
              <section class="hoverlist">
                  <p>CS research is world-renowned, and our students graduate with 
                  advanced knowledge in areas such as networks, multimedia, healthcare and 
                  telecommunications. Main office: ASB
                  </p>
                  <%= image_tag "rowing-machines.jpg"%>
              </section>
        </li>
        <li class="equipment">12 Treadmills</a>
              <section class="hoverlist">
                  <p>CS research is world-renowned, and our students graduate with 
                  advanced knowledge in areas such as networks, multimedia, healthcare and 
                  telecommunications. Main office: ASB
                  </p>
                  <%= image_tag "gym.jpg"%>
              </section>
        </li>
        <li class="equipment">12 Ellipticals and 2 AMT's</a>
              <section class="hoverlist">
                  <p>CS research is world-renowned, and our students graduate with 
                  advanced knowledge in areas such as networks, multimedia, healthcare and 
                  telecommunications. Main office: ASB
                  </p>
                  <%= image_tag "gym.jpg"%>
              </section>
        </li>
        <li class="equipment">6 Squat Racks</a>
              <section class="hoverlist">
                  <p>CS research is world-renowned, and our students graduate with 
                  advanced knowledge in areas such as networks, multimedia, healthcare and 
                  telecommunications. Main office: ASB
                  </p>
                  <%= image_tag "gym.jpg"%>
              </section>
        </li>
        <li class="equipment">3 Deadlift Platforms</a>
              <section class="hoverlist">
                  <p>CS research is world-renowned, and our students graduate with 
                  advanced knowledge in areas such as networks, multimedia, healthcare and 
                  telecommunications. Main office: ASB
                  </p>
                  <%= image_tag "gym.jpg"%>
              </section>
        </li>
        <li class="equipment">6 Rowing Machines</a>
              <section class="hoverlist">
                  <p>CS research is world-renowned, and our students graduate with 
                  advanced knowledge in areas such as networks, multimedia, healthcare and 
                  telecommunications. Main office: ASB
                  </p>
                  <%= image_tag "gym.jpg"%>
              </section>
        </li>
        <li class="equipment">Free Weights and Benches</a>
              <section class="hoverlist">
                  <p>CS research is world-renowned, and our students graduate with 
                  advanced knowledge in areas such as networks, multimedia, healthcare and 
                  telecommunications. Main office: ASB
                  </p>
                  <%= image_tag "gym.jpg"%>
              </section>
        </li>
        <li class="equipment">Stretching Areas</a>
              <section class="hoverlist">
                  <p>CS research is world-renowned, and our students graduate with 
                  advanced knowledge in areas such as networks, multimedia, healthcare and 
                  telecommunications. Main office: ASB
                  </p>
                  <%= image_tag "gym.jpg"%>
              </section>
        </li>
        <li class="equipment">Accessible Entrance</a>
              <section class="hoverlist">
                <h2>Computing Science</h2>
                  <p>CS research is world-renowned, and our students graduate with 
                  advanced knowledge in areas such as networks, multimedia, healthcare and 
                  telecommunications. Main office: ASB
                  </p>
                  <%= image_tag "gym.jpg"%>
              </section>
        </li>
    </ul> 
</section>
</body>
</html>
