<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Schedule</title>
  <%= stylesheet_link_tag "style.css" %>
</head>
<body>
   <div class="navbar">
    <div class="navbar-group">
      <div class="logo">
        <%= image_tag "SFU_logo.png", class: "logo" %>
        <p class="logo">Fitness App</p>
      </div>
    </div>
    <div class="navbar-group">
      <%= link_to 'Home', home_path, class: "nav" %>
      <%= link_to 'About', about_path, class: "nav" %>
      <div class="dropdown">
        <button class="dropbtn">Explore</button>
        <div class="dropdown-content">
          <%= link_to 'Exercises', exercises_path %>
          <%= link_to 'Equipment', equipment_path %>
          <%= link_to 'Schedule', schedule_path %>
        </div>
      </div>
      <%= link_to 'Login', login_path, class: "buttonnav" %>
    </div>
  </div>
  <div class="navbar-spacing"></div>
<section class="about">
  <h1 class="schedule">Fitness Centre: Hours of Operation (Fall 2023)</h1>
  <p class="schedule">Lornes Davie Complex - Room 088 (SFU Burnaby Campus)</p>
  <table>
    <tr>
      <th>Day of the Week</th>
      <th>Time</th>
      <th>Closures</th>
    </tr>
    <tr>
      <td>Mondays-Fridays</td>
      <td>7:00 AM - 9:00 PM</td>
      <td>Mon. September 4th, 2023<br>Mon. October 2nd, 2023<br>Mon. October 9th, 2023<br>Mon. November 4th, 2023</td>
    </tr>
     <tr>
      <td>Saturday-Sunday</td>
      <td>10:00 AM - 5:00 PM</td>
      <td>Sat. September 2nd</td>
    </tr>
     <tr>
      <td>Women's Hours</td>
      <td>8:30 AM - 10:00 AM (Saturdays)</td>
      <td>Sat. September 2nd</td>
    </tr>
  </table>
</section>
</body>
</html>
