<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About</title>
  <%= stylesheet_link_tag "style.css" %>
</head>
<body>
  <div class="navbar">
      <div class="logo">
    <%= image_tag "SFU_logo.png", class: "logo" %>
    <p class="logo">Fitness App</p>
  </div>
    <%= link_to 'Login', login_path, class: "buttonnav" %>
    <div class="dropdown">
      <button class="dropbtn">Explore
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <%= link_to 'Exercises', exercises_path %>
        <%= link_to 'Equipment', equipment_path %>
        <%= link_to 'Reviews', reviews_path %>
      </div>
    <%= link_to 'About', about_path, class: "nav" %>
    <%= link_to 'Home', home_path, class: "nav" %>
  </div>
  </div>
<section class="about">
  <h1>Exercises</h1>
  <p>Tracking your fitness progress at SFU! All exercises and activities suggested 
  can be completed at the SFU Recreation Centre on SFU's Burnaby Campus</p>
</section>
</footer>
</body>
</html>
